<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966421060750-rt67b7faeike8r9hb9a7hs2rg6uv8ali.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966421060750-rt67b7faeike8r9hb9a7hs2rg6uv8ali</string>
	<key>API_KEY</key>
	<string>AIzaSyBhpVpur3RYZolsqtKSrCq-0r4TxU12cD0</string>
	<key>GCM_SENDER_ID</key>
	<string>966421060750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>testSkill.projectMobile</string>
	<key>PROJECT_ID</key>
	<string>testskill-a53dd</string>
	<key>STORAGE_BUCKET</key>
	<string>testskill-a53dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:966421060750:ios:42bc3f2c6ba622e8</string>
	<key>DATABASE_URL</key>
	<string>https://testskill-a53dd.firebaseio.com</string>
</dict>
</plist>